<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/solar/bootstrap.min.css" rel="stylesheet" integrity="sha384-GC77SCz5O11gVtXl0sSfbQYEWSSznn1wPDHgL1BGUTFU9iEoUrG4IOJa5CBVY8kR" crossorigin="anonymous">
        <title>admin</title>
</head>

<body>
        <div class="container">
                <div class="row">
                        <h1>Add new book Admin</h1><br>
                        <form class="col-sm-4" action="" method="post">
                                <div class="form-group">
                                        <label for="tittle">Tittle:</label>
                                        <input type="text" class="form-control" name="tittle" placeholder="enter the book tittle">
                                </div>
                                <div class="form-group">
                                        <label for="author">Author:</label>
                                        <input type="text" class="form-control" name="author" placeholder="enter author name">
                                </div>
                                <div class="form-group">
                                        <label for="image">Image:</label>
                                        <input type="text" class="form-control" name="image" placeholder="enter email url">
                                </div>
                                <div class="form-group">
                                        <label for="description">Description:</label>
                                        <textarea class="form-control" rows="5" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="image">Category:</label>
                                        <input type="text" class="form-control" name="category" placeholder="enter the category" value="Categories">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                </div>
        </div>

</body>

</html>
